// Containers

@include media-query(x-small) {
  .container {
    max-width: 540px;
  }
}

@include media-query(small) {
  .container {
    max-width: 720px;
  }
}

@include media-query(medium) {
  .container {
    max-width: 960px;
  }
}

@include media-query(large) {
  .container {
    max-width: 1140px;
  }
}

@include media-query(x-large) {
  .container {
    max-width: 1320px;
  }
}










// .container {
//   @media (min-width: 576px) {
//     max-width: 540px;
//   }

//   @media (min-width: 768px) {
//     max-width: 720px;
//   }

//   @media (min-width: 992px) {
//     max-width: 960px;
//   }

//   @media (min-width: 1200px) {
//     max-width: 1140px;
//   }

//   @media (min-width: 1400px) {
//     max-width: 1320px;
//   }
// }