.footer{
    display: flex;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
    color: #A0AAC9;
}
ul>a{
    padding: 0 1rem;
    font-size: x-large;
}